<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <div class="form-floating mb-3">
                    <input formControlName="displayName" type="text" class="form-control" id="displayName"
                        [class.is-invalid]="registerForm.get('displayName')?.touched && registerForm.get('displayName')?.invalid"
                        placeholder="name@example.com">
                    <label for="floatingInput">DisplayName</label>
                    <div class="invalid-feedback"
                        *ngIf="registerForm.get('displayName')?.errors && registerForm.get('displayName')?.errors['required'] === true">
                        Display Name is required
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <ng-container class="position-relative">
                        <input formControlName="email" type="email" class="form-control" id="email"
                            [class.is-invalid]="registerForm.get('email')?.touched && registerForm.get('email')?.invalid"
                            placeholder="name@example.com">
                        <i *ngIf="loading" class="fa fa-spinner fa-spin loader"></i>
                        <label for="floatingInput">Email address</label>
                        <div class="invalid-feedback"
                            *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors['required'] === true">
                            Email is required
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors['email'] === true">
                            Email is invalid
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors['emailExists'] === true">
                            Email is taken please try another email
                        </div>
                    </ng-container>

                </div>
                <div class="form-floating">
                    <input formControlName="password" type="password" class="form-control"
                        [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid"
                        placeholder="name@example.com" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <div class="invalid-feedback"
                        *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.errors['required'] === true">
                        Password is required
                    </div>
                    <div class="invalid-feedback"
                        *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.errors['pattern'] === true">
                        Password needs to be complex, 1 uppercase, 1 lowercase with special characters and the correct
                        minlength (6)
                    </div>
                </div>
            </div>
            <div class="d-grid">
                <button [disabled]="!registerForm.valid" class="btn btn-lg btn-primary mt-3">Register</button>
            </div>
        </form>
    </div>
</div>