<header class="d-flex flex-row justify-content-between 
    p-3 px-4 mb-3 bg-light border-bottom shadow-sm fixed-top">
    <img class="logo" src="/assets/images/logo.png" alt="logo" style="max-height: 70px" routerLink="/" />


    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="padding-top: 20px">
        <a class="p-2 fs-4" routerLink='/' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a class="p-2 fs-4" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2 fs-4" routerLink="/error" routerLinkActive="active">Errors</a>
    </nav>

    <div class="d-flex align-items-center">
        <a routerLink="/basket" class="position-relative">
            <i class="fa fa-shopping-cart me-5 fa-2x text-dark"></i>
            <div class="cart-no" *ngIf="(basket$ | async) as basket">{{ getCount(basket.items) }}</div>
        </a>
        <ng-container *ngIf="(user$ | async) === null">
            <a routerLink="/account/login" type="button" class="btn btn-outline-primary me-2">Login</a>
            <a routerLink="/account/register" type="button" class="btn btn-outline-primary me-2">Sign-up</a>
        </ng-container>
        <ng-container *ngIf="(user$ | async) as user">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome {{ user.displayName }}
              </button>
              <ul class="dropdown-menu">
                <li><a routerLink="/basket" class="dropdown-item" style="cursor: pointer;">
                    <i class="fa fa-shopping-cart me-3"></i> View basket</a></li>
                <li><a routerLink="/orders" class="dropdown-item" style="cursor: pointer;">
                    <i class="fa fa-history me-3"></i> View orders</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
                    <i class="fa fa-sign-out me-3"></i> Logout</a></li>
              </ul>
            </div>
        </ng-container>
    </div>
</header>